<% if notice != nil %>
  <p class="alert alert-primary" id="notice", remote: :true><%= notice %></p>
<% end %>

<h1>
  <%= @article.title %>
</h1>

<p>
  <%= image_tag(@article.picture_url, width: 600) if @article.picture.present? %>
</p>

<p>
  <%= @article.text %>
</p>

<div class="row">
	<div class="col-md-12">
		<strong><p style="float: right;"><%= @user.email %></p></strong>
	</div>
</div>



<p>
  <% if can? :update, @article %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>

  <%= link_to 'Back', articles_path %>
</p>

<h3>Comment</h3>
<div class="comments">
	<%= render @comments %>
</div>

<%= render 'comments/form' %>
